/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}

html {
    scroll-behavior: smooth;
}

/*NAV*/
nav {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.menu li {
    margin: auto;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.menu a:hover {
    color: deeppink;
}

/*FIN NAV*/

.button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    position: relative;
    border-radius: 12px;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);

    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Estilos de la sección de hero */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neon {
    color: #fff;
    font-size: 72px;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 100px #ff00de,
        0 0 150px #ff00de;
    animation: flicker 1s ease-in-out infinite alternate;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px #ff00de,
            0 0 70px #ff00de,
            0 0 80px #ff00de,
            0 0 100px #ff00de,
            0 0 150px #ff00de;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.hero h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Pacifico', cursive;
    color: red;
}




/* Estilos de la sección de productos destacados */
.productos-destacados {
    padding: 4rem 2rem;
    text-align: center;
}

.productos-destacados h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.productos-destacados ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.productos-destacados li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productos-destacados img {
    width: 300px;
    height: auto;
    margin-bottom: 1rem;
}

.productos-destacados h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.productos-destacados p {
    margin-bottom: 1rem;
}

.productos-destacados .precio {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


/* Estilos de la sección de "Acerca de nosotros" */
.acerca-de-nosotros {
    max-width: 800px;
    /* o cualquier otro valor adecuado */
    margin: 0 auto;
    /* centrar el contenido */
    padding: 50px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    padding: 4rem 2rem;
    text-align: left;
}

.acerca-de-nosotros h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.acerca-de-nosotros p {
    font-size: 1.5rem;
    margin-bottom: 1 rem;
}


/*Slider*/
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}




/* Estilos del pie de página*/
footer {
    background-color: #292929;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: white;
}

footer .social-media {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

footer .social-media a:hover {
    background-color: white;
    color: black;
}

.fa-facebook {
    color: #ffffff;
    font-size: 24px;
    margin-right: 10px;
}

/*pagina productos*/

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 300px;
    margin: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.product p {
    margin-top: 5px;
    font-size: 18px;
}

.product button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    position: relative;
    border-radius: 12px;
}

.product button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*Carrito*/
.cart {
    background-color: black;
    padding: 20px;
}

.cart h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.cart-item {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.cart-item-details h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.cart-item-details p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.cart-item button {
    background: red;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    position: relative;
    border-radius: 12px;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cart-total h3 {
    font-size: 24px;
    font-weight: bold;

}

.cart-total button {
    background-color: #008000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 20px;
}

/*boton flotante wp*/
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/*CONTACTO*/

.contacto
{
text-align: center;
}

form {
    margin: 2em auto;
    max-width: 600px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    padding: 0.5em;
    width: 100%;
}

button[type="submit"] {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 1em;
}

section {
    margin: 2em auto;
    max-width: 600px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}